:root {
    --gray: #7a7f9a;
    --black: #343a40;

    --blue: #2C6BED;
    --green: #3B7745;

    --inactive-color: #c4c4c4;

    --primary-color: #fff;
    --secondary-color: #e9591b;
    
    --border-color: #e0e0e0;
}