/***** Always True *****/
@media only screen {

    .form-input { 
    }

    .form-btn {
    }

    .form-helper-text {
    }
}

/***** > 700px *****/
@media only screen and (min-width: 600px) {
    .form-field {
        width: 200px;
    }

    .form-btn-contained, .form-btn-outlined {
        width: 200px;
    }
}

/***** <= 700px *****/
@media only screen and (max-width: 600px) {
    .form-field {
        width: 60vw;
    }

    .form-btn-contained, .form-btn-outlined {
        width: 50vw;
    }
}